#bottomBox {
  padding-bottom: .25em;
}

#box {
  background-color: white;
  border: 2px solid #d0cece;
  border-radius: 20px;
  margin: 2vh 0;
  padding: 2em;
  padding-bottom: 20px;
  width: 75vw;
}

#button {
  background-color: #84c7ae;
  color: white;
  vertical-align: center;
  width: 40%;
  height: 40px;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #8a8a8a;
}

#button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.buttonTopBox {
  border-radius: 5em;
  width: 50% ;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.checkbox {
  transform: scale(1.5);
  margin-right: 10px;
}

#consent {
  margin: 15px 0px 0px 20px;
}

.container {
  background-color: #f2f2f1;
  display: flex;
  padding: 4vh 10vw;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.description,
.title {
  text-align: center;
}

.flexColumn {
  flex-direction: column;
}

.flexRowCenter {
  display: flex;
  justify-content: center;
}

.flexRowSpaceAround {
  display: flex;
  justify-content: space-between;
}

.flexRowSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.input {
  color: black;
  padding-left: 10px;
  background-color: #f8f4f4;
  width: 88%;
  height: 40px;
  margin: 20px;
  margin-bottom: 6px;
  border-radius: 5px;
  border: 2px solid #d0cece;
}

#leftSide {
  width: 45%;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.main {
  min-height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#middleBox {
  padding-bottom: 1.5em;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: black;
  padding-bottom: 10px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

#topBox {
  padding-bottom: .25em;
}

#topStrengths {
  margin: 0 !important;
  padding-bottom: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: white) {
  .card {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}
