.main {
    min-height: 100vh;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0 5rem;
    background-color: #f2f2f1;
}

.containerRelative {
    background-color: #f2f2f1;
    display: flex;
    padding: 4vh 10vw;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexRowCenter {
    display: flex;
    justify-content: center;
}

.flexRowSpaceAround {
    display: flex;
    justify-content: space-around;
}

.flexRowSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.title {
font-size: x-large;
font-weight: normal;
}

.assignments {
    border-radius: 10px;
    border: 2px solid #d0cece;
    background-color: white;
    width: 33%;
    height: 250px;
    margin-right: 15px;
    overflow: hidden;
}

