#search {
    width: 80%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d0cece;
    margin-top: 30px;
    display: flex;

}

#search {
    cursor: pointer;
}

#searchIcon {
    opacity: 0.6;
    display: inline-block;
    margin-right: 15px;
    padding-top: 5px;
}

#searchText {
    margin: auto 0px;
    text-align: center;
    opacity: 0.6;
    padding-bottom: 2px;
    display: inline-block;
    height: 30px;
}

#browseMentors {
    height: 250px;
}

#mentors {
    display: flex;
}

.mentor {
    background-color: white;
    height: 170px;
    width: 170px;
    border-radius: 10px;
    border: 1px solid #d0cece;
    margin: 10px;
    padding: 10px;
}

.findMentor {
    border-radius: 10px;
    border: 1px solid #d0cece;
    padding: 5px;
    padding-left: 10px;
    width: 70%;
    font-size: small;
    margin: 10px auto 0px auto;
    background-color: #ebebeb;
}

.findMentor:hover {
    cursor: pointer;
}


.imgContainer {
    width: 100%;
    height: 50%;
    background-color: grey;
}

.content {
    width: 100%;
    height: 50%;
    padding: 20px;
    padding-top: 10px;
}

.articleSubtitle {
    opacity: 0.6;
    display: flex;
    margin: 10px 0px;
}

.articleIcon {
    margin-right: 4px;
    transform: scale(0.8);
}

/* Mentor Section*/

#vidResources {
    width: 56%;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #d0cece;
    padding: 10px 20px;
    padding-bottom: 30px;
}

#videos {
    display: flex;
}

.video {
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid #d0cece;
    width: 195px;
    height: 195px;
    padding: 15px;
    text-align: center;
    background-color: #ececec;
}

.video:hover {
    cursor: pointer;
}

.vidPic {
    border: 1px solid #d0cece;
    width: 70%;
    height: 70%;
    margin: 10px auto;
}

.assignments {
    border-radius: 10px;
    border: 2px solid #d0cece;
    background-color: white;
    width: 33%;
    height: 250px;
    margin-right: 15px;
    overflow: hidden;
}

.assignments:hover {
    cursor: pointer;
    background-color: aliceblue;
}