#upcomingAssignment {
    width: 88%;
}

.assignmentTitle {
    width: 100%;
    height: 40%;
}

.assignmentDescription {
    padding-top: 2px;
    font-size: small;
    color: rgb(98, 98, 98);
}

.assignmentDetails {
    margin: 0px;
    padding-top: 20px;
    font-size: small;
    line-height: 20px;
    color: rgb(98, 98, 98);
}

.imgContainer {
    overflow: hidden;
    width: 100%;
    height: 50%;
    background-color: grey;
    object-fit: contain;
}

#img1 {
    position: relative;
    bottom: 40px;
}

.content {
    width: 100%;
    height: 50%;
    padding: 20px;
}


.mentorClicked {
    border-radius: 10px;
    border: 2px solid #d0cece;
    background-color: white;
    width: 35%;
    height: 200px;
    margin-right: 15px;
    padding: 20px;
}

.mentor {
    border-radius: 10px;
    border: 2px solid #d0cece;
    background-color: white;
    width: 15%;
    height: 200px;
    margin-right: 15px;
    padding: 20px;
}

.mentorCard {
    width: 100px;
    height: 150px;
    margin: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mentorDescription {
    font-size: small;
    color: rgb(98, 98, 98);
    margin-top: 8px;
    line-height: 20px;

}

.icon {
    margin: 0px 10px 0px auto;
    opacity: 0.6;
    width: 20px;
    height: 20px;
    float: left;
}

#sessions {
    float: right;
    color: rgb(98, 98, 98);
}

.link {
    text-decoration: underline;
    color: rgb(98, 98, 98);
    font-size: small;
}

.link:hover {
    cursor: pointer;
}


/* Mentor Home Page */

.menteeBox {
    border-radius: 10px;
    border: 2px solid #d0cece;
    background-color: white;
    width: 30%;
    height: 200px;
    margin-right: 15px;
    overflow: hidden;
    margin-left: 20px;
    padding: 20px;
}

.menteeName {
    font-size: 1.3em;
    margin: 0px;
    width: 40%;
    float: left;
}

.menteePic {
    width: 50px;
    margin: 0px 10px 0px auto;
}

.meetingDescription {
    font-size: small;
    margin: 0px 10px;
    margin-bottom: 30px;
}

.buttons {
    border-radius: 15px;
    background-color: #ebebeb;
    width: 40%;
    padding: 5px 15px;
    text-align: center;
    margin: 0px 10px;
}

.buttons:hover {
    cursor: pointer;
}

.resources {
    border-radius: 10px;
    border: 2px solid #d0cece;
    background-color: white;
    width: 25%;
    height: 300px;
    margin-right: 15px;
    overflow: hidden;
}