.container {
    padding: 2rem;
    padding-top: 3rem;
    background-color: #aed2e6;
}

.main {
    min-height: 100vh;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#mainBox {
    width: 40%;
    height: 500px;
    margin: 0px auto auto 10px;
    background-color: #f6fbf9;
    border-radius: 30px;
    border: 2px solid #d0cece;
    float: left;
    padding: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.centerText {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
    background-color: white;
}

#login {
    height: 50px;
    background-color: #84c7ae;
    border-radius: 10px;
    border: 2px solid #d0cece;
}

#login:hover {
    cursor: pointer;
    background-color: #6ea993;
}

#forgotPassword {
    width: 150px;
}

#forgotPassword:hover {
    cursor: pointer;
}

#signup {
    height: 50px;
    background-color: #7ec6ee;
    border-radius: 10px;
    border: 2px solid #d0cece;
}

#signup:hover {
    cursor: pointer;
    background-color: #58b8eb;
}