.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #aed2e6;
}

#mainBox {
  width: 40vw;
  height: 75vh;
  margin: 0 45vw 0 0;
  background-color: #f6fbf9;
  border-radius: 1.6em;
  border: 2px solid #d0cece;
  float: left;
  padding: 1.25em;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 27vw;
  text-align: center;
}

.centerText {
  margin-left: auto;
  margin-right: auto;
  width: 27vw;
  text-align: center;
  background-color: white;
  padding-bottom: 2vh;
}

#login {
  height: 7.5vh;
  background-color: #84c7ae;
  border-radius: .8em;
  border: 2px solid #d0cece;
}

#login:hover {
  cursor: pointer;
  background-color: #6ea993;
}

#forgotPassword {
  width: 13vw;
}

#forgotPassword:hover {
  cursor: pointer;
}

#signup {
  height: 7.5vh;
  background-color: #7ec6ee;
  border-radius: .8em;
  border: 2px solid #d0cece;
}

#signup:hover {
  cursor: pointer;
  background-color: #58b8eb;
}
