#mainBox {
    margin: 0px auto;
    width: 90%;
    height: 530px;
    border-radius: 10px;
    border: 2px solid #d0cece;
    background-color: white;
}

#topBox {
    width: 100%;
    height: 12%;
    padding: 30px 30px;
}

#bottomBox {
    width: 100%;
    height: 85%;
    padding: 10px 50px;
}

.title {
    margin: 0px;
    font-weight: normal;
    font-size: x-large;
}

.subtitle {
    margin: 0px;
    font-weight: normal;
    font-size: large;
}

#mentees {
    width: 100%;
    display: flex;
}

.menteeCard {
    border-radius: 10px;
    border: 2px solid #d0cece;
    background-color: white;
    width: 18%;
    height: 200px;
    margin: 25px 15px;
    padding: 20px 10px;
}

.menteeCard:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.mentee {
    width: 80%;
    height: 150px;
    margin: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menteeDescription {
    font-size: small;
    color: rgb(98, 98, 98);
    margin-top: 8px;
    line-height: 20px;

}

/* Student Page */

#back {
    opacity: 0.6;
    border-radius: 10px;
    border: 2px solid rgb(45, 45, 45);
    padding: 10px;
    width: 100px;
    display: flex;
}

#back:hover {
    opacity: 1;
    cursor: pointer;
}


.verticalCenter {
    margin: auto 0px;
}

#menteeDetail {
    margin: auto;
    width: 100%;
    height: 650px;
}

#menteeDetailTop {
    width: 100%;
    height: 30%;
}

#menteeProfile {
    float: left;
    width: 37%;
    height: 100%;
    padding: 25px;
}

#menteeInfo {
    width: 60%;
    height: 40%;
    float: right;
    line-height: 25px;
    margin-left: 10px;
    margin-top: 15px;
}

#notes{
    opacity: 0.7;
    display: flex;
}

#notes:hover {
    opacity: 1;
    cursor: pointer;
}



#assignedBox {
    float: right;
    width: 50%;
    height: 80%;
    margin: 15px;
    padding: 0px auto;
    justify-content: space-evenly;
    display: flex;
}

.studentAssignment {
    width: 30%;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    background-color: #eeeeee;
    text-align: center;
    padding: 10px;
}

#strength {
    padding: 20px;
    float: left;
}

#improvements {
    position: absolute;
    left: 46%;
    transform: scale(0.9);
}